.bg {
  height: 100vh;
  background-color: #353535;
}
.container {
  padding: 20px;
  width: 50%;
  height: 50%;
  // background-color: #212121;
  // color: white;
  background-color: white;
  label {
    font-size: 30px;
  }
}
