<div class="bg display">
  <div class="container">
    <div class="header">
      <!-- <label>Name: {{ dataDetail.name }}</label> -->
      <label>Name</label>
    </div>
    <span class="Underline"></span>

    <div style="margin-top: 20px" class="display">
      <!-- <label>Genre: {{ dataDetail.genre }}</label>
      <br />
      <label>Duration: {{ dataDetail.duration }}</label>
      <br /> -->
      <div>
        <p class="text">gem</p>

        <br />
        <p class="text">genre</p>
        <br />
        <p class="text">genre</p>
        <br />
        <!-- <label>Created By: {{ dataDetail.createdBy }}</label> -->
        <button
          mat-raised-button
          color="primary"
          class="button"
          (click)="Kembali()"
        >
          kembali
        </button>
      </div>
    </div>
  </div>
</div>
