<div class="bg display">
  <div class="container">
    <div class="header">
      <label>Name: {{ dataDetail.name }}</label>
    </div>
    <div style="margin-top: 20px">
      <label>Genre: {{ dataDetail.genre }}</label>
      <br />
      <label>Duration: {{ dataDetail.duration }}</label>
      <br />
      <!-- <label>Created By: {{ dataDetail.createdBy }}</label> -->
      <button
        mat-raised-button
        color="primary"
        class="button"
        (click)="Kembali()"
      >
        kembali
      </button>
    </div>
  </div>
</div>
