.bg {
  height: 100vh;
  background-color: #353535;
}
.container {
  padding: 50px;
  width: 70%;
  height: 70%;
  background-color: #212121;
  color: white;
}

.Header {
  font-size: 50px;
  color: #f3de57;
  margin-bottom: 20px;
}
.Label {
  color: white;
  font-size: 15px;
}
.button {
  background-color: #82b441;
  color: white;
  width: 20%;
  height: 20%;
}
.Form {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 20px;
  margin: 20px 0px 20px 0px;
}
