<div class="bg display">
  <div class="container">
    <div>
      <label class="display Header"
        >ADMTC V2 <img src="../../../assets/united-kingdom.png" class="foto"
      /></label>
      <label class="display Label"
        >Welcome to the Platform of Academic Resources</label
      >

      <form class="Form" [formGroup]="loginForm">
        <mat-form-field appearance="legacy">
          <mat-label style="color: white">Email</mat-label>
          <input matInput formControlName="email" />
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label style="color: white">Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <label class="Label">Forgot Password?</label>
    </div>

    <div class="display">
      <button mat-raised-button class="button" (click)="login()">Login</button>
    </div>
  </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
